@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .scroll{
        @apply scroll-smooth;
    }
    .flex100{
        @apply flex flex-wrap w-[100%];
    }
    h2{
        @apply w-[100%] font-Beaming text-left text-white text-4xl;
    }
    p{
        @apply w-[100%] text-white font-normal pt-20px text-sm font-Monserrat;
    }
    @font-face {
        font-family: 'Beaming';
        font-style: bold;
        font-weight: 400;
        font-display: swap;
        src: url(fonts/Beaming.otf);
    }
    @font-face {
        font-family: 'Monserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(fonts/Montserrat-Regular.ttf);
    }
    #botton-subida{
        transition: 1s ease all;
        -webkit-transition: 1s ease all;
        -moz-transition: 1s ease all;
        -ms-transition: 1s ease all;
        -o-transition: 1s ease all;
        transform: translateX(10000%);
        -webkit-transform: translateX(10000%);
        -moz-transform: translateX(10000%);
        -ms-transform: translateX(10000%);
        -o-transform: translateX(10000%);
}
    #botton-subida.active{
        transition: 1s ease all;
        -webkit-transition: 1s ease all;
        -moz-transition: 1s ease all;
        -ms-transition: 1s ease all;
        -o-transition: 1s ease all;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}
}

@layer components {
    .item__enlace {
      @apply block font-Beaming text-2xl p-20px transition-all text-white hover:border-b-2 hover:border-white;
    }
    .item__enlace.active{
        @apply block font-Beaming text-2xl p-20px border-b-2 border-white transition-all text-white;
    }
    .items__links{
       @apply inline-block w-[100%];
    }
    .fondoplanetario{
        @apply bg-imagenfondoplanetario bg-no-repeat bg-cover bg-center;
    }
    .fondomorado{
        @apply bg-fondomorado bg-no-repeat bg-cover bg-center;
    }
    .fondoreflexion{
        @apply bg-fondoreflexion bg-no-repeat bg-cover bg-center;
    }
    .botton-subida{
        @apply flex justify-center items-center fixed bottom-0 right-0 m-20px p-20px bg-[#6f3a8e] z-50 text-white w-[50px] h-[50px] rounded-full;
    }
  }